<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="commercesuite">


<listeners>
<listener class-name="com.nopcommerce.utilities.Reporting"></listener>



</listeners>

<test name="commercetestChrome">
<parameter name="browser" value="chrome"></parameter>
<classes>

<class name="com.nopcommerce.testCases.Tc_001_login"></class>

</classes>
</test>

<test name="commercetestFirefox">
<parameter name="browser" value="firefox"></parameter>
<classes>

<class name="com.nopcommerce.testCases.Tc_001_login"></class>

</classes>

</test>

</suite>
